@CHARSET "UTF-8";

.tag {
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1000;
}     

.header {
	background-image: url("../Project/images/back1.png");
	background-repeat: no-repeat;
	width:70%;
	top:0;
	display:inline;
	height:32%;
	margin-left:30%;
}

.icon {
	padding-left:10%;
	}

.headline {
	display:inline;
	font-family: 'Pacifico', cursive;
	font-size:70px;
	text-align:center;
	padding: 4% 0 0 10%;
}

#search {
	display: inline;
    float: right;
    padding:5% 0 0 78%;

}

#search input[type="text"] {
    
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }
    
.nav-section {
	width:10%; 
	float:left;
	border: 1px solid #000;
	border-radius:15px;
	margin-top: 5%;
}

.nav-section img {
	width: 60px;
	height:	60px;
	display: inline;
	margin-left: 20%;
	margin-bottom: 10%;
}

.profile-photo img {
	width: 100px;
	height: 100px;
	margin-left: 10%;
	margin-bottom: 30%;
	
}


.main-page {
	width:85%; 
	float:right;
	border: 1px solid #000;
	border-radius:15px;
	margin-top: 5%;
	background-image:url("../Project/images/collage.jpg");
}

.selections span {
	
	border: 1px solid #000;
	border-radius:15px;
	margin: 5%;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
	padding:2%;
	font-size:20px;
}
.photos {
	margin-left: 3%;
}
.photos span {
	display: inline-block;
    margin: 40px;
    width: 150px;
    height: 200px;
    border: 1px solid #000;
    border-radius:15px;
}